Chrome >= 4
Edge >= 12
Safari >= 3.1
Firefox >= 2
Opera >= 10
IE 11
last 1 ChromeAndroid versions
iOS >= 3.2
Samsung >= 4
OperaMini all
OperaMobile >= 12
last 1 UCAndroid versions
Android >=  4.4
last 1 FirefoxAndroid versions
last 1 QQAndroid versions
KaiOS >= 2.5
